@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.container {
	margin-inline: auto;
	width: 90%;
	max-width: 1200px;
}

.bpl-header {
	padding-block: 30px;
}

.bpl-header .container {
	display: flex;
	align-items: end;
}

#google_translate_element {
	flex-basis: 100%;
	text-align: right;
}

@media (max-width: 991.98px) {
	#google_translate_element {
		margin-bottom: 20px;
	}
}

@media (max-width: 991.98px) {
	.bpl-header {
		padding-bottom: 10px;
	}
}

.bpl-header h1 {
	margin-bottom: 0;
}

.bpl-header__logo {
	display: block;
	margin-bottom: 0;
}

.bpl-header__logo:first-of-type {
	width: 220px;
}

.bpl-header__logo:last-of-type {
	width: 100px;
}

@media (min-width: 992px) {
	.bpl-header__logo:last-of-type {
		display: none;
	}
}

@media (max-width: 991.98px) {
	.bpl-header__logo:first-of-type {
		display: none;
	}
}

.bpl-header__title {
	margin-left: 30px;
	padding-left: 30px;
	border-left: 5px solid #cf102d;
}

@media (max-width: 991.98px) {
	.bpl-header__title {
		margin-left: 10px;
		padding-left: 20px;
	}
}

.bpl-header__title a {
	color: inherit !important;
}

.bpl-header h2 {
	font-size: 36px;
	margin-block: 10px 0;
}

@media (max-width: 991.98px) {
	.bpl-header h2 {
		font-size: 24px;
	}
}

h3 {
	max-width: 720px;
	font-size: 20px;
	line-height: 1.5;
}

@media (max-width: 991.98px) {
	h3 {
		font-size: 16px;
	}
}

main header {
	margin-bottom: 80px;

	p {
		max-width: 30rem;
		line-height: 1.5;
		color: #4a4a4a;
	}
}

.dt-container {
	margin-inline: auto;
	width: 90%;
	max-width: 1800px;
}

.dt-column-order {
	font-size: 90%;
}

.dt-layout-row select {
	border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    color: inherit;
    margin-left: 3px;
}

.dt-layout-cell {
	text-align: left !important;
}

tbody .collection-type {
	display: flex;
	flex-wrap: wrap;
	gap: 3px;

	span {
		padding: 5px 10px;
		border-radius: 12px;
	}

	.archive-or-special-collection {
		background-color: #f9c6c9;
	}
	.digital-resource {
		background-color: #a3d8f4;
	}
	.historic-building-museum {
		background-color: #f2d3a1;
	}
	.objects---artifacts {
		background-color: #c6e1bc;
	}
	.news {
		background-color: #ecd9f2;
	}
	.historical-society {
		background-color: #b7e0e5;
	}
	.history-holder {
		background-color: #f3bbd3;
	}
}

.dt-container:has(.dataTable.collapsed) > .dt-layout-row:first-child:after {
	content: "Click ► to show more information.";
	display: block;
	color: rgba(0, 0, 0, 0.5);
	font-style: italic;
	margin-top: 20px;
}

.dt-container > .dt-layout-row:first-child {
	flex-direction: row-reverse;
}

.dt-layout-start, .dt-layout-end {
	margin: unset !important;
}

a {
	align-items: center;
	color: #3273dc;
	cursor: pointer;

	&:not(:hover, :focus) {
		text-decoration: none;
	}
}

.external-icon {
	height: 10px;
	width: 10px;
	margin-left: 6px;
}